body {
  font-family: "Encode Sans", sans-serif;
  margin: 0;
}

#site-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-sections {
  display: flex;
  gap: 20px;
}

.header-sections a {
  text-transform: uppercase;
  color: #f15a08;
  font-size: 13px;
  font-family: 'Space Mono', monospace;
  text-decoration: none;
}

/* Ícono hamburguesa */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Ocultar checkbox */
#menu-toggle {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .header-sections {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  #menu-toggle:checked + .menu-icon + .header-sections {
    display: flex;
  }

  .header-sections a {
    margin: 5px 0;
  }
}

main {
  padding: 20px;
  margin-top: 20px;
}
