body {
    font-family: "Encode Sans", sans-serif;
  }

  .salto {
    margin-top: 2em; 
  }
  
  .btn-formulario {
    background-color: #f15a08;
    color: white;
    border: none;
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; 
  }

  .btn-formulario:hover {
    background-color: rgb(252, 251, 251); /* blanco al pasar el mouse */
    color: #f15a08;
    font-family: 'Space Mono', monospace;
  }